@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: "Red Hat Display", sans-serif;
    background-color: var(--pale-blue);
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    box-shadow: 0 20px 20px 0px var(--pale-blue);
    border-radius: 25px;
}

.hero-section {
    background-image: url(images/illustration-hero.svg);
    height: 210px;
    width: 450px;
    border-radius: 20px 20px 0 0;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 45px 45px 45px;
    height: 477px;
    background-color: #fff;
    width: 450px;
    border-radius: 0 0 20px 20px;
}

h1 {
    font-size: 28px;
    letter-spacing: 1px;
    color: var(--dark-blue);
    margin-bottom: 16px;
}

.info {
    text-align: center;
    line-height: 26px;
    margin-bottom: 20px;
    color: var(--desaturated-blue);
}

.order {
    background-color: var(--very-pale-blue);
    width: 354px;
    display: flex;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    height: 98px;
}

.plan-price {
    display: flex;
    align-items: center;
}

.plan {
    margin-left: 20px;
}

.annual-plan {
    margin-bottom: 5px;
    font-weight: var(--font-weight-700);
    color: var(--dark-blue);
}

.price {
    color: var(--desaturated-blue);
}

#change-order {
    display: flex;
    align-items: center;
}

.change {
    font-size: 14px;
    font-weight: var(--font-weight-700);
    color: var(--bright-blue);
    text-decoration: underline;
}

.change,
#cancel {
    transition: all 100ms ease-in-out;
}

.change:hover {
    color: var(--desaturated-blue);
    text-decoration: none;
}

#payment {
    background-color: var(--bright-blue);
    border: none;
    width: 350px;
    font-size: 15px;
    font-weight: var(--font-weight-900);
    color: #fff;
    height: 50px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 15px 20px var(--desaturated-blue);
}

#payment,
.order {
    border-radius: 10px;
}

#payment:hover {
    background-color: var(--desaturated-blue)
}

#cancel {
    font-weight: var(--font-weight-700);
    color: var(--dark-blue);
}

#cancel:hover {
    color: var(--desaturated-blue);
}